.button {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, .4);
    background-color: #f79446;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, .4);
    width: 100%;
    border: none;
    font-family: 'regular';
    line-height: 1;
    outline: none;
    cursor: pointer;
}
.buttonSuccess {
    background-color: #4e8c17;
}

.buttonWrong {
    background-color: #bb0f0f;
}

.buttonMargin {
    margin-bottom: 14px;
}
.button span {
    position: relative;
    top: 3px;
}

@media screen and (max-width: 320px){
    .buttonMargin {
        margin-bottom: 8px;
    }
    .button {
        height: 45px;
        font-size: 20px;
    }
    .button:hover {
        opacity: .9;
    }
}

@media screen and (min-width: 990px){
    .buttonMargin {
        margin-bottom: 12px;
    }
}
